[run]
branch = True
source = python3_wtf/src/python3_wtf/
data_file = .coverage

[report]
omit =
    */tests/*
    */__init__.py
    */venv/*
    */.tox/*
    */site-packages/*
    */dist-packages/*
show_missing = True
fail_under = 50


[html]
directory = coverage/htmlcov

[xml]
output = coverage/xml/coverage.xml
